.s-value {
    padding: 1rem 4rem;
}

.s-label {
    border: 1.5px solid;
    border-radius: 20px;
    background: none;
    padding: 10px 25px;
    width: 13rem;
    margin: 0 1rem;
    font-weight: bold;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
}

.s-label:focus {
    box-shadow: 8px 8px rgba(0, 0, 0, 0.4);
}

input[type="button"] {
    border-radius: 20px;
    padding: 0.5rem 1rem;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
    font-weight: bold;
}

input[type="button"]:hover {
    box-shadow: 8px 8px rgba(0, 0, 0, 0.4);
}

.s-name {
    margin: 1rem 0 0;
    font-weight: bold;
}

.content {
    animation: fadeInAnimation ease 2s;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
  
    100% {
        opacity: 1;
    }
}